@mixin ubicacion($size, $alineacion) {
    font-size: $size;
    text-align: $alineacion;
}

@mixin espacio($display, $column, $space, $margen ) {
    display: $display;
    grid-template-columns: $column;
    gap: $space;
    margin-top: $margen;
}

@mixin card($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.container {
    @include ubicacion(20px, center )
}

footer p {
    @include ubicacion(24px, center )
}

#product-card {
    @include espacio(grid,1fr ,20px ,40px )
}

#celular-card {
    @include espacio(grid,1fr ,20px ,40px )
}

#celular-card .card img {
    @include card(auto,300px )
  }

#product-card .card img {
    @include card(auto,300px )
}

#smart-card .card img {
    @include card(auto,300px )
}